.planet-random{
    display: flex;
    padding: 15px;
    align-items: center;
    background-color: #333;
}
.planet-random .planet-image{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-right: 20px;
}
.planet-random .list-group{
    margin: 10px 0 0 10px;
}
.planet-random .list-group-item{
    border-style: none none solid none;
    padding: 7px 1.25rem;
}