.planet-detal{
    display: flex;
    padding: 15px;
    align-items: center;
    background-color: #333;
    margin: 20px;
}
.planet-detal .planet-image{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    margin-right: 20px;
}
.planet-detal .list-group{
    margin: 10px 0 0 10px;

}
.planet-detal .list-group-item{
    border-style: none none solid none;
    padding: 7px 1.25rem;
}